<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRAMAN</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="background-grid"></div>
    
    <main class="container">
        <h2>PRAMAN Web Application</h2>
        
        <div class="card">
            <label for="username">Target User to Delete:</label>
            <input type="text" id="username" value="user" />
            <button onclick="sendSignedRequest()">Delete User</button>
        </div>

        <div class="card">
            <h3>Server Response:</h3>
            <pre id="output">No request sent yet.</pre>
        </div>
    </main>

    <script>
        // flask inject variables in js when server start
        const SHARED_SECRET = "{{ env_secret }}";
        const ENDPOINT = "http://127.0.0.1:5000/api/v1/delete-user";
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>